@font-face {
  font-family: "Cuprum";
  src: url("../fonts/web/Cuprum-Regular.woff2") format("woff2"),
      url("../fonts/web/Cuprum-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/web/Cuprum-Italic.woff2") format("woff2"),
      url("../fonts/web/Cuprum-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/web/Cuprum-Bold.woff2") format("woff2"),
      url("../fonts/web/Cuprum-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/web/PTSans-Regular.woff2") format("woff2"),
      url("../fonts/web/PTSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/web/PTSans-Bold.woff2") format("woff2"),
      url("../fonts/web/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
} 

:root {
  --black-basic: #000000;
  --black-basic-opacity-0-3: rgba(0, 0, 0, 0.3);
  --dark-mirage: #161D29;
  --mirage: #1D2739;
  --dark-pickled-bluewood: #293449;
  --dark-basic: #32425C;
  --green-basic: #63A63E;
  --green-apple: #5FBB2D;
  --green-click: #518534;
  --bilbao: #367315;
  --yellow-orange: #FFBF47;
  --grandis: #FFD180;
  --ecru-white: #F7F3EC;
  --red-basic: #EE3643;
  --red-brick: #CA2C37;
  --red-tall-poppy: #BA2732;
  --picton-blue: #3BBCE3;
  --light-orchid: #DC91D8;
  --feijoa: #8ED78F;
  --silver-opacity-0-3: rgba(169, 169, 169, 0.3);
  --silver-chalice: #A9A9A9;
  --grey-nobel: #B5B5B5;
  --greylight: #C5C5C5;
  --greylight-opacity-0-3: rgba(197, 197, 197, 0.3);
  --merino: #F9F5F0;
  --wild-sand: #F4F4F4;
  --gallery: #EAEAEA;
  --mercury: #E5E5E5;
  --neutral-basic: #F1F5F7;
  --seashell: #F1F1F1;
  --white-basic: #ffffff;
  --white-opacity-0-3: rgba(255, 255, 255, 0.3);
  --white-opacity-0-5: rgba(255, 255, 255, 0.5);
}

/* Общие стили */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 }


.page-body {
  margin: 0;
  padding: 0;
  color: var(--black-basic);
  background-color: var(--white-basic);
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;

  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-content: start;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: var(--gleylight);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden { 
  position: absolute; 
  width: 1px; 
  height: 1px; 
  margin: -1px; 
  border: 0; 
  padding: 0; 
  white-space: nowrap; 
  -webkit-clip-path: inset(100%); 
          clip-path: inset(100%); 
  clip: rect(0 0 0 0); 
  overflow: hidden; 
}

.page {
  height: 100%;
}

/* Заголовок страницы */

.main-header {
  display: grid;
  grid-template-rows: auto auto auto;
  /*width: 100%;*/
  margin-bottom: 59px;
  background-color: var(--neutral-basic);
}

/* Логотип */

.main-header section:first-child {
  width: 100%;
  background-color: var(--dark-pickled-bluewood);
}

.main-header .wrapper {
  display: grid;
  grid-template-columns: auto auto 1fr;
  outline: 5px solid var(--green-apple);
  outline-offset: -5px;
}

.logo-container {
  display: block;
  width: 220px;
  height: 47px;
  background-color: var(--red-basic);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.logo-container:active {
  background-color: var(--red-tall-poppy);
}

/* Кнопки пользовательского меню */

.main-header .wrapper:first-child {
  display: grid;

}

.header-user-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  list-style: none;
}

.main-header input {
  width: 271px;
  height: 42px;
  color: var(--white-basic);
  background-color: transparent;
  border: none;
}

.main-header input::-moz-placeholder { /* Белый текст в placeholder для Firefox */
  color: var(--white-basic);
  opacity: 1;
}

.main-header input:focus {
  color: var(--black-basic);
  background-color: var(--white-basic);
}

.header-user-menu li{
  width: 150px;
  height: 42px;
}

.header-user-menu li:active {
  background-color: var(--dark-mirage);  
}

.header-user-menu li:last-child {
  background-color: var(--green-basic);
}

.header-user-menu li:last-child:hover {
  background-color: var(--green-apple);
}

.header-user-menu li:last-child:active {
  background-color: var(--green-basic);
}

.user-menu-item:active a {
  color: rgba(255, 255, 255, 0.5);
}

.header-user-menu a {
  font-size: 18px;
  line-height: 24px;
  color: var(--white-basic);
}

.header-about-us {
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

.header-description {
  width: 197px;
  height: 71px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--red-basic);
}

.header-contacts {
  color: var(--dark-basic);
  font-size: 14px;
}

.header-contacts a {
  display: block;
  width: 270px;
  height: 45px;
  text-align: center;
  color: var(--red-basic);
  font-weight: bold;
  font-size: 21px;
  background-color: #f3f7f9;
  border: 3px solid var(--white-basic);
  box-sizing: border-box;
}

.authorization-buttons {
  list-style: none;
}

.authorization-buttons a {
  text-align: center;
  color: var(--black-basic);
  font-size: 21px;
}

.authorization-buttons .login-button {
  width: 121px;
  height: 45px;
  background-color: var(--white-basic);
}

.authorization-buttons .registration-button {
  width: 150px;
  height: 45px;
  background-color: var(--white-basic);
}

.login-button:hover a,
.registration-button:hover a {
  color: var(--red-basic);
}

.login-button:active a,
.registration-button:active a {
  color: var(--greylight);
}

/* Главная навигация */

.main-navigation {
  width: 940px;
  height: 60px;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
}

.site-navigation {
  display: flex;
  justify-content: space-around;
  height: 100%;
  list-style: none;
  background-color: var(--dark-basic);
  box-sizing: border-box;
}

.site-navigation-link {
  display: block;
  height: 100%;
  color: var(--white-basic);
}

.site-navigation-link:hover {
  background-color: var(--dark-pickled-bluewood);
}

.site-navigation-link:active {
  color: var(--white-opacity-0-5);
  background-color: var(--mirage);
}

.site-navigation-link:active {
  opacity: 0.5;
}

/* Промо-блок */

.materials {
  display: flex;
  width: 300px;
  height: 123px;
  font-size: 24px;
  font-weight: bold;
  color: var(--white-basic);
  background-color: var(--yellow-orange);
}

.materials h3 {
  /*width: 141px;*/
}

.materials div {
  display: block;
  width: 135px;
  height: 38px;
  background-color: var(--white-opacity-0-3);
}

.materials a {
  font-size: 14px;
  color: var(--white-basic);
  text-transform: uppercase;
}

.card-goods-new {
  width: 84px;
  font-size: 14px;
  color: var(--white-basic);
  background-color: var(--red-basic);
}

.materials .promo-button:hover {
  background-color: var(--greylight-opacity-0-3);
}

.materials .promo-button:active {
  background-color: var(--silver-opacity-0-3);
}

.tools {
  display: flex;
  width: 300px;
  height: 123px;
  font-size: 24px;
  font-weight: bold;
  color: var(--white-basic);
  background-color: var(--picton-blue);
}

.tools h3 {
  width: 141px;
}

.tools div {
  display: block;
  width: 135px;
  height: 38px;
  background-color: var(--white-opacity-0-3);
}

.tools a {
  font-size: 14px;
  color: var(--white-basic);
  text-transform: uppercase;
}

.tools .promo-button:hover {
  background-color: var(--greylight-opacity-0-3);
}

.tools .promo-button:active {
  background-color: var(--silver-opacity-0-3);
}

.machinery {
  display: flex;
  width: 300px;
  height: 123px;
  font-size: 24px;
  font-weight: bold;
  color: var(--white-basic);
  background-color: var(--light-orchid);
}

.machinery h3 {
  width: 141px;
}

.machinery div {
  display: block;
  width: 135px;
  height: 38px;
  background-color: var(--white-opacity-0-3);
}

.machinery a {
  font-size: 14px;
  color: var(--white-basic);
  text-transform: uppercase;
}

.machinery .promo-button:hover {
  background-color: var(--greylight-opacity-0-3);
}

.machinery .promo-button:active {
  background-color: var(--silver-opacity-0-3);
}

.discount {
  display: flex;
  width: 300px;
  height: 123px;
  font-size: 24px;
  font-weight: bold;
  color: var(--white-basic);
  background-color: var(--feijoa);
}

.discount h3 {
  width: 141px;
}

.discount div {
  display: block;
  width: 135px;
  height: 38px;
  background-color: var(--white-opacity-0-3);
}

.discount a {
  font-size: 14px;
  color: var(--white-basic);
  text-transform: uppercase;
}

.discount .promo-button:hover {
  background-color: var(--greylight-opacity-0-3);
}

.discount .promo-button:active {
  background-color: var(--silver-opacity-0-3);
}

.delivery {
  display: flex;
  width: 300px;
  height: 123px;
  font-size: 24px;
  font-weight: bold;
  color: var(--white-basic);
  background-color: var(--yellow-orange);
}

.delivery h3 {
  width: 141px;
}

.delivery div {
  display: block;
  width: 135px;
  height: 38px;
  background-color: var(--white-opacity-0-3);
}

.delivery a {
  font-size: 14px;
  color: var(--white-basic);
  text-transform: uppercase;
}

.delivery .promo-button:hover {
  background-color: var(--greylight-opacity-0-3);
}

.delivery .promo-button:active {
  background-color: var(--silver-opacity-0-3);
}

/* Слайдер */

.promo-slider {
  background-color: var(--silver-chalice);
}

.slider-perfs {
  color: var(--white-basic);
}

.slider-drill {
  color: var(--white-basic);
}

.slider-button-open-cat {
  width: 192px;
  height: 38px;
  padding: 10px 0;
  box-sizing: border-box;
  text-align: center;
  color: var(--white-basic);
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--red-basic);
}

.slider-button-open-cat:hover {
  background-color: var(--red-brick);
}

.slider-button-open-cat:active {
  background-color: var(--red-tall-poppy);
}

/* Популярные товары */
/* Каталог, карточки товаров */

.popular-goods {
  width: 940px;
  background-color: var(--white-basic);
}

.popular-goods div {
  display: flex;
  justify-content: space-between;
}

.popular-goods div {
  background-color: var(--merino);
}

.popular-goods h2 {
  color: var(--dark-basic);
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.popular-goods-button {
  display: block;
  width: 192px;
  height: 38px;
  padding: 10px 0;
  box-sizing: border-box;
  text-align: center;
  color: var(--white-basic);
  color: var(--white-basic);
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--red-basic);
}

.popular-goods-list,
.catalog-goods {
  list-style: none;
  font-family: "PTSans", "Arial", sans-serif;
}

.buy,
.in-bookmarks {
  display: none;
  width: 135px;
  height: 38px;
  border: none;
  border-radius: 2px;
}

.catalog-item:hover .buy,
.catalog-item:hover .in-bookmarks {
  display: block;
}

.buy {
  color: var(--white-basic);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--green-basic);
  box-shadow: inset 0 -3px 0 var(--bilbao);
}

.in-bookmarks {
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--dark-basic);
  text-transform: uppercase;
  font-size: 14px;
  background-color: transparent;
  border: 3px solid var(--green-basic);
}

.buy:hover {
  background-color: var(--green-apple);
}

.buy:active {
  background-color: var(--green-click);
}

.in-bookmarks:hover {
  border: 3px solid var(--dark-basic);
}

.in-bookmarks:active {
  opacity: 0.5;
}

.catalog-item {
  width: 220px;
  height: 318px;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid var(--gallery);
}

.catalog-item del {
  font-size: 17px;
  color: var(--silver-chalice);
  text-decoration: line-through;
}

.catalog-item a {
  display: block;
  width: 141px;
  height: 38px;
  font-size: 17px;
  color: var(--white-basic);
  background-color: var(--red-basic);
}

.catalog-item:hover img {
  display: none;
}

.catalog-item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

/* Популярные производители */

.popular-manufacturers {
  width: 940px;
  background-color: var(--white-basic);
}

.popular-manufacturers div {
  display: flex;
  justify-content: space-between;
}

.popular-manufacturers div {
  background-color: var(--merino);
}

.popular-manufacturers h2 {
  color: var(--dark-basic);
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.popular-manufacturers-button {
  display: block;
  width: 192px;
  height: 38px;
  padding: 10px 0;
  box-sizing: border-box;
  text-align: center;
  color: var(--white-basic);
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--red-basic);
}

.manufacturers-list {
  list-style: none;
}

.manufacturers-list li {
  width: 220px;
  height: 145px;
  border: 1px solid var(--gallery);
  box-sizing: border-box;
}

.manufacturers-list li:hover {
  box-shadow: 0 0 20px -10px var(--silver-chalice);
}

.manufacturers-item:active {
  box-shadow: 0 0 20px -10px var(--silver-chalice);
}

.manufacturers-item:active img {
  opacity: 0.5;
}

/* Сервисы */

.services h2 {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.services h3 {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.services p {
  width: 410px;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-slider {
  list-style: none;
}

.services-slider li {
  width: 240px;
  height: 61px;
  color: var(--white-basic);
  background-color: var(--dark-basic);
}

.services-slider li:first-child {
  color: var(--dark-basic);
  background-color: var(--white-basic);
}

.services-slider li:hover {
  color: var(--white-basic);
  background-color: var(--dark-pickled-bluewood);
}

.services-slider li:active {
  color: var(--dark-basic);
  background-color: var(--white-basic);
}

.services-delivery p {
  width: 300px;
  height: 99px;
}

.credit-button {
  display: block;
  width: 192px;
  height: 38px;
  padding: 10px 0;
  box-sizing: border-box;
  text-align: center;
  color: var(--white-basic);
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--red-basic);
}

/* О нас и контакты */

.about-us h2 {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.about-us p {
  width: 460px;
  height: 147px;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
}

.about-us ul {
  list-style: none;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  font-weight: normal;
}

.about-us-button {
  display: block;
  width: 220px;
  height: 38px;
  padding: 10px 0;
  box-sizing: border-box;
  text-align: center;
  color: var(--white-basic);
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--red-basic);
}

.adress h2 {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.adress p {
  width: 180px;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
}

.adress-button {
  display: block;
  width: 300px;
  height: 38px;
  padding: 10px 0;
  box-sizing: border-box;
  text-align: center;
  color: var(--white-basic);
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--red-basic);
}

/* Футер */
.main-footer {
  color: var(--white-basic);
}

.main-footer div:first-child {
  font-size: 18px;
  background-color: var(--dark-basic);
}

.main-footer div:last-child {
  font-size: 16px;
  background-color: var(--dark-pickled-bluewood); 
}

.contacts p {
  width: 333px;
  line-height: 24px;
}

.footer-navigation a:hover,
.catalog-navigation a:hover {
  text-decoration: underline;
}

.footer-navigation a:active,
.catalog-navigation a:active {
  text-decoration: none;
  opacity: 0.5;
}

.catalog-navigation {
  color: var(--grandis);
}

.footer-navigation,
.catalog-navigation {
  list-style: none;
}

.footer-about-us {
  width: 226px;
}

.socials-list {
  display: flex;
  list-style: none;
}

.social-button:hover path:first-of-type {
  fill: var(--red-basic);
}

.social-button:active path:first-of-type {
  fill: var(--red-basic);
}

.footer-copyright p:first-child {
  width: 137px;
}

.footer-copyright p:last-child {
  width: 98px;
}

.footer-copyright a {
  color: var(--grandis);
}

.footer-copyright a:hover {
  text-decoration: underline;
}

.footer-copyright a:active {
  color: var(--red-basic);
  text-decoration: none;
}

/* Модальное окно обратной связи */

.modal-feedback {
  width: 620px;
  height: 430px;
  box-shadow: inset 0 7px 0 0 var(--red-basic);
}

.name-group label {
  font-size: 18px;
}

.name-group input {
  width: 220px;
  height: 38px;
  border: 2px solid #C5C5C5;
  box-sizing: border-box;
  border-radius: 2px;
}

.email-group label {
  font-size: 18px;
}

.email-group input {
  width: 220px;
  height: 38px;
  border: 2px solid #C5C5C5;
  box-sizing: border-box;
  border-radius: 2px;
}

.text-group label {
  font-size: 18px;
}

.text-group textarea {
  width: 460px;
  height: 114px;
  border: 2px solid #C5C5C5;
  box-sizing: border-box;
  border-radius: 2px;
}

.modal-feedback div {
  width: 620px;
  height: 112px;
  background-color: var(--wild-sand);
}

.modal-feedback-button {
  display: block;
  width: 460px;
  height: 38px;
  padding: 10px 0;
  box-sizing: border-box;
  text-align: center;
  color: var(--white-basic);
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--red-basic);
}

/* Модальное оконо с картой */

.map-popup {
  width: 943px;
  height: 449px;
  box-shadow: inset 0 7px 0 0 var(--red-basic);
  box-shadow: 0px 0px 14.7px rgba(47, 42, 43, 0.5);
}

/* Каталог */

/* Шапка каталога, блок пользовательского меню */

.profile-container {
  width: 299px;
}

.profile-container div {

  background-color: var(--white-basic);
}

.profile-container p {
  font-size: 21px;
}

.profile-container ul {
  list-style: none;
  color: var(--dark-basic);
}

/* Основное содержимое каталога */

.catalog-main {
  font-family: "PTSans", "Arial", sans-serif;
}

.catalog-main h2:nth-child(2) {
  display: block;
  width: 940px;
  height: 89px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: var(--dark-basic);
  text-transform: uppercase;
  background-color: var(--neutral-basic);
}

.bread-crumbs {
  list-style: none;
}

/* Фильтр */

.catalog_filter {
  width: 220px;
  text-transform: uppercase;
}

.catalog_filter legend {
  font-size: 17px;
  font-weight: bold;
}

.catalog_filter label {
  font-size: 15px;
}

.catalog_filter p:first-of-type {
  font-size: 13px;
}

.price {
  width: 220px;
  height: 80px;
  background-color: var(--ecru-white);
  border: none;
}

.min_cost_output,
.max_cost_output {
  width: 95px;
  height: 38px;
  background-color: var(--ecru-white);
  /*border: none;*/
}

.catalog-manufacterers {
  width: 220px;
  border: none;
  border-top: 2px solid var(--greylight);
}

.catalog-manufacterers ul,
.supply ul {
  list-style: none;
}

.supply {
  width: 220px;
  border: none;
  border-top: 2px solid var(--greylight);
}

/* Каталог товаров */

.goods-list {
  width: 700px;
}

.sorting {
  font-size: 13px;
  text-transform: uppercase;
  background-color: var(--ecru-white);
}

.sorting-list {
  color: var(--black-basic-opacity-0-3);
  list-style: none;
}

.sorting-list li {
  width: fit-content;
  border-bottom: 1px dotted var(--red-basic);
}

.sorting-list li:hover {
  color: var(--black-basic);
  border-bottom: 1px solid var(--red-basic);
}

.sorting-list li:active {
  color: var(--red-basic);
  border: none;
}

.sort-arrow-up,
.sort-arrow-down {
  fill: var(--greylight);
}

.sort-arrow-up:hover,
.sort-arrow-down:hover {
  fill: var(--black-basic);
}

.sort-arrow-up:active,
.sort-arrow-down:active {
  fill: var(--red-basic);
}

/* Пагинация */

.pagination {
  display: flex;
  list-style: none;
}

.pagination li {
  width: 38px;
  height: 38px;
  margin-right: 10px;
  padding: 7.5px 0; /* ! 7.5px */
  text-align: center;
  border: 1px solid var(--mercury);
  border-radius: 2px;
  box-sizing: border-box;
}

.pagination li:last-child {
  width: 140px;
}

.pagination li:hover {
  border: 1px solid var(--greylight);
}

.pagination li:active {
  border: 1px solid var(--red-basic);
}

.pagination li:first-child {
  color: var(--white-basic);
  background-color: var(--red-basic);
}

/* Блок перед футером. Пара слов о перфораторах */

.about-perfs {
  background-color: var(--neutral-basic);
}

.about-perfs h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.about-perfs p {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.good_in_basket {
  width: 620px;
  height: 282px;
  box-shadow: inset 0 7px 0 0 var(--red-basic);
}

.good_in_basket p {
  font-size: 24px;
  font-weight: bold;
}

.good_in_basket div {
  background-color: var(--seashell);
}

.good_in_basket .button {
  width: 192px;
  height: 38px;
  padding: 10px 0;
  box-sizing: border-box;
  text-align: center;
  color: var(--white-basic);
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--red-basic);
}

.good_in_basket .button:last-child {
  color: var(--black-basic);
  background-color: var(--white-basic);
}