@font-face {
  font-family: "Cuprum";
  src: url("../fonts/web/Cuprum-Regular.woff2") format("woff2"),
      url("../fonts/web/Cuprum-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/web/Cuprum-Italic.woff2") format("woff2"),
      url("../fonts/web/Cuprum-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/web/Cuprum-Bold.woff2") format("woff2"),
      url("../fonts/web/Cuprum-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/web/PTSans-Regular.woff2") format("woff2"),
      url("../fonts/web/PTSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/web/PTSans-Bold.woff2") format("woff2"),
      url("../fonts/web/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
} 

:root {
  --black-basic: #000000;
  --black-basic-opacity-0-3: rgba(0, 0, 0, 0.3);
  --dark-mirage: #161D29;
  --mirage: #1D2739;
  --dark-pickled-bluewood: #293449;
  --dark-basic: #32425C;
  --fiord: #3D546F;
  --green-basic: #63A63E;
  --green-apple: #5FBB2D;
  --green-click: #518534;
  --bilbao: #367315;
  --yellow-orange: #FFBF47;
  --grandis: #FFD180;
  --ecru-white: #F7F3EC;
  --red-basic: #EE3643;
  --red-brick: #CA2C37;
  --red-tall-poppy: #BA2732;
  --picton-blue: #3BBCE3;
  --light-orchid: #DC91D8;
  --feijoa: #8ED78F;
  --silver-opacity-0-3: rgba(169, 169, 169, 0.3);
  --silver-chalice: #A9A9A9;
  --grey-nobel: #B5B5B5;
  --greylight: #C5C5C5;
  --greylight-opacity-0-3: rgba(197, 197, 197, 0.3);
  --merino: #F9F5F0;
  --wild-sand: #F4F4F4;
  --gallery: #EAEAEA;
  --mercury: #E5E5E5;
  --neutral-basic: #F1F5F7;
  --seashell: #F1F1F1;
  --white-basic: #ffffff;
  --white-opacity-0-3: rgba(255, 255, 255, 0.3);
  --white-opacity-0-5: rgba(255, 255, 255, 0.5);
}

/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\   Общие стили   /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/

 .page {
   width: 100%;
   height: 100%;
 }

.page-body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: var(--black-basic);
  background-color: var(--white-basic);
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;

  display: grid;
  grid-template-rows: auto 1fr auto;
  align-content: start;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: var(--gleylight);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden { 
  position: absolute; 
  width: 1px; 
  height: 1px; 
  margin: -1px; 
  border: 0; 
  padding: 0; 
  white-space: nowrap; 
  -webkit-clip-path: inset(100%); 
          clip-path: inset(100%); 
  clip: rect(0 0 0 0); 
  overflow: hidden; 
}

/*================================================== Заголовок страницы ==================================================*/

.main-header {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin-bottom: 20px;
  background-color: var(--neutral-basic);
}

.header-user-menu {
  width: 100%;
  height: 42px;
  background-color: var(--dark-pickled-bluewood);
}

.main-header .wrapper {
  display: grid;
  grid-template-columns: auto auto 1fr;
  
}

/* Логотип */

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 47px;
  background-color: var(--red-basic);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.logo-container:nth-last-child(2) {
  height: 68px;
}

.logo-container:active {
  background-color: var(--red-tall-poppy);
}

/*========================================================== Кнопки пользовательского меню ==========================================*/

.header-user-menu {
  display: grid;
}

.user-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  list-style: none;
}

.search-container {
  position: relative;
}

.header-user-menu input {
  width: 271px;
  height: 42px;
  padding-left: 42px;
  font-size: 18px;
  color: var(--white-basic);
  background-color: transparent;
  border: none;
  box-sizing: border-box;
}

.header-user-menu input::-moz-placeholder { /* Белый текст в placeholder для Firefox */
  color: var(--white-basic);
  opacity: 1;
}

.header-user-menu input:focus {
  color: var(--black-basic);
  background-color: var(--white-basic);
  outline: 0;
}

.search-icon {
  position: absolute;
  top: 12px;
  left: 17px;
}

.search-container:hover .search-icon {
  fill-opacity: 1;
}

.search-container:focus-within path {
  fill: var(--red-basic);
  fill-opacity: 1;
}

.user-menu-item {
  position: relative; /* Все элементы пользовательского меню, крайнему не нужно */
  width: 150px;
  height: 42px;
  padding: 9px 24px 9px 0px;
  box-sizing: border-box;
}

.user-menu-item:first-child {
  padding-left: 43px;
}

.user-menu-item:nth-child(2) {
  padding-left: 49px;
}

.user-menu-item a {
  font-size: 18px;
  line-height: 24px;
  color: var(--white-basic);
}

.catalog-cart {
  background-color: var(--red-basic);
}

.user-menu-item:active {
  background-color: var(--dark-mirage);  
}

.bookmark-icon {
  position: absolute;
  top: 13px;
  left: 20px;
}

.cart-icon {
  position: absolute;
  top: 13px;
  left: 26px;
}

.header-bookmarks:hover .bookmark-icon,
.header-cart:hover .cart-icon {
  fill-opacity: 1;
}

.user-menu-item:last-child {
  padding: 9px 16px 19px;
  background-color: var(--green-basic);
}

.user-menu-item:last-child:hover {
  background-color: var(--green-apple);
}

.user-menu-item:last-child:active {
  background-color: var(--green-basic);
}

.user-menu-item:active a {
  color: rgba(255, 255, 255, 0.5);
}


.header-about-us {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  column-gap: 50px;
  height: 158px;
}

.header-description {
  width: 197px;
  height: 71px;
  margin-top: 42.5px;
  margin-left: 30px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--red-basic);
}

.header-contacts {
  margin-top: 46px;
  text-align: center;
  color: var(--dark-basic);
  font-size: 14px;
}

.header-contacts a {
  display: block;
  width: 270px;
  height: 45px;
  margin-bottom: 3px;
  padding-top: 7px;
  text-align: center;
  color: var(--red-basic);
  font-weight: bold;
  font-size: 21px;
  border: 3px solid var(--white-basic);
  box-sizing: border-box;
}

.authorization-buttons {
  display: flex;
  justify-content: space-between;
  width: 281px;
  margin-top: 46px;
  list-style: none;
}

.authorization-buttons a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 24px;
  color: var(--black-basic);
  font-size: 21px;
  background-color: var(--white-basic);
  box-sizing: border-box;
}

.authorization-buttons .login-button {
  position: relative;
  width: 121px;
  height: 45px;
  padding-left: 45px;
}

.login-icon {
  position: absolute;
  top: 14px;
  left: 19px;
}

.login-button:hover path {
  fill: var(--fiord);
}

.authorization-buttons .registration-button {
  width: 150px;
  height: 45px;
  background-color: var(--white-basic);
  box-sizing: border-box;
}

.login-button:hover,
.registration-button:hover a {
  color: var(--red-basic);
}

.login-button:active,
.registration-button:active a {
  color: var(--greylight);
}

.login-button:active path {
  fill: var(--greylight);
}
/*============================================== Главная навигация ==================================*/

.main-navigation {
  width: 940px;
  height: 60px;
  margin-bottom: 60px;
  background-color: var(--dark-pickled-bluewood);
}

.site-navigation {
  display: flex;
  justify-content: space-evenly;
  height: 55px;
  padding-right: 20px;
  padding-left: 20px;
  list-style: none;
  background-color: var(--dark-basic);
  box-sizing: border-box;
}

.site-navigation li {
  flex-grow: 1;
  text-align: center;
}

.site-navigation a {
  display: block;
  height: 100%;
  padding: 20px 0 20px 0;
  color: var(--white-basic);
  box-sizing: border-box;
}

.site-navigation a:hover {
  background-color: var(--dark-pickled-bluewood);
}

.site-navigation a:active {
  color: var(--white-opacity-0-5);
  background-color: var(--mirage);
}

.site-navigation a:active {
  opacity: 0.5;
}

/*=====================================   Основное содержимое  =====================================*/
/*=====================================       Промо-блок       =====================================*/

.promo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 20px;
  margin-bottom: 59px;
}

.promo > div {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  height: 123px;
  font-size: 24px;
  font-weight: bold;
  color: var(--white-basic);
  box-sizing: border-box;
}

.materials {
  overflow: hidden;
  background-color: var(--yellow-orange);
}

.tools {
  background-color: var(--picton-blue);
}

.machinery {
  background-color: var(--light-orchid);
}

.discount {
  background-color: var(--feijoa);
}

.delivery {
  background-color: var(--yellow-orange);
}

.promo h3 {
  width: 141px;
  margin: 0;
  font-size: 24px;
}

.materials div,
.tools div,
.machinery div,
.discount div,
.delivery div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.promo-button {
  order: 1;
  display: block;
  width: 135px;
  height: 38px;
  background-color: var(--white-opacity-0-3);
}

.materials a,
.tools a,
.machinery a,
.discount a,
.delivery a {
  padding: 10px 0;
  font-size: 14px;
  color: var(--white-basic);
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
}

.materials {
  position: relative;
}

.card-goods-new {
  position: absolute;
  top: -10px;
  right: -30px;
  width: 100px;
  height: 30px;
  padding-top: 8px;
  transform: rotate(45deg);
  overflow: hidden;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-basic);
  background-color: var(--red-basic);
  box-sizing: border-box;
}

.materials .promo-button:hover,
.tools .promo-button:hover,
.machinery .promo-button:hover,
.discount .promo-button:hover,
.delivery .promo-button:hover {
  background-color: var(--greylight-opacity-0-3);
}

.materials .promo-button:active,
.tools .promo-button:active,
.machinery .promo-button:active,
.discount .promo-button:active,
.delivery .promo-button:active {
  background-color: var(--silver-opacity-0-3);
}
/*================================================== Слайдер ===========================================*/

.slider {
  grid-row: 2 / 4;
  grid-column: 1 / 3;
  position: relative;
  background-color: var(--silver-chalice);
  width: 620px;
  background-color: white;
  box-shadow: 0 0 3px #cccccc;
}

.slider-inner {
  overflow: hidden;
}

.slider-slides {
  width: 200%;
  margin: 0;
  padding: 0;
  transition: transform 0.8s ;
  list-style: none;
}

.slider-slides li {
  float: left;
  width: 620px;
  height: 266px;
}

.slider input[type="radio"] {
  display: none;
}

.slider-controls {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 45%;
  bottom: 36px;
  width: 30px;
  height: 10px;
}

.slider-controls label {
  display: block;
  width: 6px;
  height: 6px;
  background-color: white;
  box-shadow: 0 0 0 2px white;
  border-radius: 50%;
  cursor: pointer;
}

.slider-control-arrows {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: space-between;
  width: 93%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.slide-drill, 
.slide-perfs {
  position: relative;
}

.slide-drill h3,
.slide-perfs h3 {
  position: absolute;
  top: 23px;
  left: 24px;
  font-size: 36px;
  color: white;
  text-transform: uppercase;
}

.slide-drill p,
.slide-perfs p {
  position: absolute;
  top: 50px;
  left: 24px;
  color: white;
}

#first-slide:checked ~ .slider-controls label[for="first-slide"],
#second-slide:checked ~ .slider-controls label[for="second-slide"] {
  background-color: var(--red-basic);
}

#first-slide:checked ~ .slider-inner .slider-slides {
  transform: translate(0);
}
#second-slide:checked ~ .slider-inner .slider-slides {
  transform: translate(-620px);
}

.slider-control-arrows svg:hover path {
  fill: var(--black-basic);
}

.slider-control-arrows svg:active path {
  fill: var(--red-tall-poppy);
}

.slider-catalog-button {
  position: absolute;
  left: 24px;
  bottom: 27px;
  display: block;
  width: 192px;
  height: 38px;
  padding: 10px 0;
  box-sizing: border-box;
  text-align: center;
  color: var(--white-basic);
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--red-basic);
}

/*=========================================================== Популярные товары ================================================*/
/*====================================== Каталог, карточки товаров ========================*/

.popular-goods {
  background-color: var(--white-basic);
  margin-bottom: 70px;
}

.popular-goods div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 28px;
  padding-right: 14px;
  background-color: var(--merino);
}

.popular-goods h2 {
  color: var(--dark-basic);
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.popular-goods-button {
  display: block;
  width: 192px;
  height: 38px;
  padding: 10px 0;
  box-sizing: border-box;
  text-align: center;
  color: var(--white-basic);
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--red-basic);
}

.popular-goods-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
  list-style: none;
  font-family: "PTSans", "Arial", sans-serif;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 220px;
  height: 318px;
  overflow: hidden;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border: 1px solid var(--gallery);
}

.catalog-item div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 118px;
  background-color: transparent;
}

.catalog-item p:not(.card-goods-new) {
  margin: 0;
}

.catalog-item del {
  font-size: 17px;
  color: var(--silver-chalice);
  text-decoration: line-through;
}

.catalog-item a {
  display: block;
  width: 141px;
  height: 38px;
  padding-top: 10px;
  font-size: 17px;
  color: var(--white-basic);
  background-color: var(--red-basic);
  background-image: linear-gradient(45deg, transparent 89%, var(--white-basic) 89%),
                    linear-gradient(135deg, transparent 89%, var(--white-basic) 89%);
  border-radius: 2px;
  box-sizing: border-box;
}

/*.catalog-item:hover img {
  display: none;
}*/

.catalog-item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.buy,
.in-bookmarks {
  display: none;
  width: 135px;
  height: 38px;
  border: none;
  border-radius: 2px;
}

.buy {
  color: var(--white-basic);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--green-basic);
  box-shadow: inset 0 -3px 0 var(--bilbao);
}

.in-bookmarks {
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--dark-basic);
  text-transform: uppercase;
  font-size: 14px;
  background-color: transparent;
  border: 3px solid var(--green-basic);
}

/*.catalog-item:hover .buy,
.catalog-item:hover .in-bookmarks {
  display: block;
}

.catalog-item:hover .card-goods-new {
  display: none;
}
*/
.buy:hover {
  background-color: var(--green-apple);
}

.buy:active {
  background-color: var(--green-click);
}

.in-bookmarks:hover {
  border: 3px solid var(--dark-basic);
}

.in-bookmarks:active {
  opacity: 0.5;
}

/*=========================================== Популярные производители ==========================================*/

.popular-manufacturers {
  background-color: var(--white-basic);
  margin-bottom: 70px;
}

.popular-manufacturers div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 28px;
  padding-right: 14px;
}

.popular-manufacturers div {
  background-color: var(--merino);
}

.popular-manufacturers h2 {
  color: var(--dark-basic);
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.popular-manufacturers-button {
  display: block;
  width: 192px;
  height: 38px;
  padding: 10px 0;
  box-sizing: border-box;
  text-align: center;
  color: var(--white-basic);
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--red-basic);
}

.manufacturers-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  list-style: none;
}

.manufacturers-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
  border: 1px solid var(--gallery);
  box-sizing: border-box;
}

.manufacturers-list li:hover {
  box-shadow: 0 0 20px -10px var(--silver-chalice);
}

.manufacturers-item:active {
  box-shadow: 0 0 20px -10px var(--silver-chalice);
}

.manufacturers-item:active img {
  opacity: 0.5;
}

/*================================================ Сервисы ============================================*/

.services {
  background-color: var(--neutral-basic);
}

.services .wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  auto auto auto;
  padding-top: 60px;
  box-sizing: border-box;
}

.services h2 {
  grid-row: 1 / 2;
  margin: 0;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.services-description {
  grid-row: 2 / 3;
  width: 410px;
  margin-bottom: 70px;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-container {
  display: flex;
  margin-bottom: 70px;
}

.services-container input[type="radio"] {
  display: none;
}

.services-slider {
  margin: 0;
  margin-right: 80px;
  list-style: none;
}

.services-slider label {
  display: flex;
  align-items: center;
  width: 240px;
  height: 61px;
  padding-left: 22px;
  font-size: 21px;
  color: var(--white-basic);
  background-color: var(--dark-basic);
  box-sizing: border-box;
}

.services-slider label:hover {
  color: var(--white-basic);
  background-color: var(--dark-pickled-bluewood);
}

.services-slider label:active {
  color: var(--dark-basic);
  background-color: var(--white-basic);
}

.services-list {
  width: 300%;
  list-style: none;
}

.services-list li {
  position: relative;
  float: left;
  display: block;
  width: 620px;
  height: 285px;
}

.services-list img{
  position: absolute;
  bottom: 0;
  right: 0;
}
/*
.services-delivery {
  background: url("../img/services/delivery.png") no-repeat right top;
}

.services-guarantee {
  background: url("../img/services/guarantee.png") no-repeat right top;
}

.services-credit {
  background: url("../img/services/credit.png") no-repeat right top;
}
*/
.services-delivery h3,
.services-guarantee h3,
.services-credit h3 {
  margin: 0;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.services-delivery p,
.services-guarantee p,
.services-credit p {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

#btn-1:checked ~ .services-slider label[for="btn-1"] {
  color: var(--dark-basic);
  background-color: var(--white-basic);
}

#btn-2:checked ~ .services-slider label[for="btn-2"] {
  color: var(--dark-basic);
  background-color: var(--white-basic);
}

#btn-3:checked ~ .services-slider label[for="btn-3"] {
  color: var(--dark-basic);
  background-color: var(--white-basic);
}

#btn-1:checked ~ .slider-inner .services-list {
  transform: translate(0);
}

#btn-2:checked ~ .slider-inner .services-list {
  transform: translate(-620px);
}

#btn-3:checked ~ .slider-inner .services-list {
  transform: translate(-1240px);
}

.credit-button {
  display: block;
  width: 192px;
  height: 38px;
  padding: 10px 0;
  box-sizing: border-box;
  text-align: center;
  color: var(--white-basic);
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--red-basic);
}

/*=================================================== О нас и контакты ===========================================================*/

.about-and-contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 180px;
  margin-bottom: 70px;
}

.about-us {

}

.about-us h2 {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.about-us p {
  width: 460px;
  height: auto;
  margin: 0;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
}

.transport-companies {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  font-weight: normal;
}

.transport-companies li {
  margin-bottom: 12px;
}

.about-us-button {
  display: block;
  width: 220px;
  height: 38px;
  padding: 10px 0;
  box-sizing: border-box;
  text-align: center;
  color: var(--white-basic);
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--red-basic);
}

.adress h2 {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.adress p {
  width: 180px;
  margin-bottom: 32px;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
}

.map {
  margin-bottom: 25px;
}

.adress-button {
  display: block;
  width: 300px;
  height: 38px;
  padding: 10px 0;
  box-sizing: border-box;
  text-align: center;
  color: var(--white-basic);
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--red-basic);
}

/*=========================================================== Футер ============================================================*/

.main-footer {
  display: grid;
  grid-template-rows: 1fr 1fr;

}

.footer-contacts-navigation {
  font-size: 18px;
  color: var(--white-basic);
  background-color: var(--dark-basic);
}

.footer-contacts-navigation .wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
}

.contacts p {
  width: 333px;
  margin-right: 58px;
  line-height: 24px;
}

.footer-general-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 193px;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.footer-navigation,
.catalog-navigation {
  display: flex;
  justify-content: space-between;
  width: 546px;
  list-style: none;
}

.footer-navigation a:hover,
.catalog-navigation a:hover {
  text-decoration: underline;
}

.footer-navigation a:active,
.catalog-navigation a:active {
  text-decoration: none;
  opacity: 0.5;
}

.catalog-navigation {
  padding-left: 21px;
  color: var(--grandis);
  box-sizing: border-box;
}

.footer-copyright-socials {
  height: 107px;
  background-color: var(--dark-pickled-bluewood); 
}


.footer-copyright-socials .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-size: 16px;
  color: var(--white-basic);
  background-color: var(--dark-pickled-bluewood); 
}

.footer-about-us {
  width: 226px;
  margin: 0;
}

.socials {
}

.socials-list {
  display: flex;
  width: 134px;
  list-style: none;
}

.social-button:hover path:first-of-type {
  fill: var(--red-basic);
}

.social-button:active path:first-of-type {
  fill: var(--red-basic);
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
}

.footer-copyright p:first-child {
  margin-right: 51px;
  width: 137px;
}

.footer-copyright p:last-child {
  width: 98px;
}

.footer-copyright a {
  color: var(--grandis);
}

.footer-copyright a:hover {
  text-decoration: underline;
}

.footer-copyright a:active {
  color: var(--red-basic);
  text-decoration: none;
}

/*======================================================= Модальное окно обратной связи =================================================*/

.modal-feedback {
  width: 620px;
  height: 430px;
  box-shadow: inset 0 7px 0 0 var(--red-basic);
}

.name-group label {
  font-size: 18px;
}

.name-group input {
  width: 220px;
  height: 38px;
  border: 2px solid #C5C5C5;
  box-sizing: border-box;
  border-radius: 2px;
}

.email-group label {
  font-size: 18px;
}

.email-group input {
  width: 220px;
  height: 38px;
  border: 2px solid #C5C5C5;
  box-sizing: border-box;
  border-radius: 2px;
}

.text-group label {
  font-size: 18px;
}

.text-group textarea {
  width: 460px;
  height: 114px;
  border: 2px solid #C5C5C5;
  box-sizing: border-box;
  border-radius: 2px;
}

.modal-feedback div {
  width: 620px;
  height: 112px;
  background-color: var(--wild-sand);
}

.modal-feedback-button {
  display: block;
  width: 460px;
  height: 38px;
  padding: 10px 0;
  box-sizing: border-box;
  text-align: center;
  color: var(--white-basic);
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--red-basic);
}

/*============================================= Модальное оконо с картой================================== */

.map-popup {
  width: 943px;
  height: 449px;
  box-shadow: inset 0 7px 0 0 var(--red-basic);
  box-shadow: 0px 0px 14.7px rgba(47, 42, 43, 0.5);
}

/*///////////////////////////////////////////////////////////////////       \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/*================================================================== Каталог ========================================================*/

/*===================================== Шапка каталога, блок пользовательского меню ==================================*/

.profile-container {
  width: 299px;
  margin-top: 46px;
}

.profile-container div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 45px;
  background-color: var(--white-basic);
}

.profile-container p {
  font-size: 21px;
}

.profile-container ul {
  display: flex;
  justify-content: center;
  list-style: none;
  color: var(--dark-basic);
}

/*==================================================Основное содержимое каталога ====================================*/

.catalog-main {
  font-family: "PTSans", "Arial", sans-serif;
}

.catalog-wrapper {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: auto 1fr;
  gap: 20px;
}

.bread-crumbs {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  display: flex;
  list-style: none;
}

.catalog-wrapper h2:first-of-type {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  margin: 0;
  height: 89px;
  padding-top: 29px;
  padding-left: 29px;
  box-sizing: border-box;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: var(--dark-basic);
  text-transform: uppercase;
  background-color: var(--neutral-basic);
}

/*==================================================== Фильтр ==============================================*/

.catalog_filter {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.filter-head {
  display: block;
  width: 220px;
  height: 38px;
  margin: 0;
  margin-bottom: 14.15px;
  padding-top: 10px;
  padding-left: 18px;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: normal;
  text-transform: uppercase;
  background-color: var(--ecru-white);
}

.filter-form {
  text-transform: uppercase;
}

.catalog_filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.price {
  width: 220px;
  height: 193.85px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: none;
}

.price legend,
.filter-manufacterers legend,
.supply legend {
  margin-bottom: 10.85px;
  font-size: 17px;
  font-weight: bold;
}

.range-container {
  width: 220px;
  height: 80px;
  background-color: var(--ecru-white);
  margin-bottom: 9px;
}

.catalog_filter label {
  font-size: 15px;
}

.min_cost_output,
.max_cost_output {
  width: 95px;
  height: 38px;
  background-color: var(--ecru-white);
}

.filter-manufacterers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 220px;
  height: 251px;
  border: none;
}

.filter-manufacterers ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 179px;
  list-style: none;
}

.filter-manufacterers-list li {
}

.filter-form .supply {
  width: 220px;
  height: 116.85px;
  margin-bottom: 37px;
  border: none;
  border-top: 2px solid var(--greylight);
  box-sizing: border-box;
}

.supply ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 66px;
  list-style: none;
}

/*=============================================================== Каталог, карточки товаров ========================================== */

.catalog-goods {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
  width: 700px;
}

/*=========================================================== Сортировка =================================================*/

.sorting {
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;
  font-size: 13px;
  text-transform: uppercase;
  background-color: var(--ecru-white);
}

.sorting p {
  margin: 0;
}

.sorting-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 254px;
  color: var(--black-basic-opacity-0-3);
  list-style: none;
}

.sorting-list-item a {
  width: fit-content;
  border-bottom: 1px dotted var(--red-basic);
}

.sorting-list-item a:hover {
  color: var(--black-basic);
  border-bottom: 1px solid var(--red-basic);
}

.sorting-list-item a:active {
  color: var(--red-basic);
  border: none;
}

.sort-arrow-up,
.sort-arrow-down {
  fill: var(--greylight);
}

.sort-arrow-up:hover,
.sort-arrow-down:hover {
  fill: var(--black-basic);
}

.sort-arrow-up:active,
.sort-arrow-down:active {
  fill: var(--red-basic);
}

/*======================================================= Каталог с карточками =======================================================*/

.catalog-list {
  grid-row: 2 / 3;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-family: "PTSans", "Arial", sans-serif;
}

.catalog-list .catalog-item {
  box-sizing: border-box;
}

.catalog-list .catalog-item:not(:nth-child(3n)) {
  margin-right: 20px;
  margin-bottom: 20px;
}
/*=========================================================== Пагинация ===========================================================*/

.pagination {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
  display: flex;
  margin-bottom: 59px;
  list-style: none;
}

.pagination li {
  width: 38px;
  height: 38px;
  margin-right: 10px;
  padding: 7.5px 0; /* ! 7.5px */
  text-align: center;
  border: 1px solid var(--mercury);
  border-radius: 2px;
  box-sizing: border-box;
}

.pagination li:last-child {
  width: 140px;
}

.pagination li:hover {
  border: 1px solid var(--greylight);
}

.pagination li:active {
  border: 1px solid var(--red-basic);
}

.pagination li:first-child {
  color: var(--white-basic);
  background-color: var(--red-basic);
}

/*====================================================== Блок перед футером. Пара слов о перфораторах ==================================*/

.about-perfs {
  background-color: var(--neutral-basic);
}

.about-perfs .wrapper {

}

.about-perfs h2 {
  margin: 0;
  margin-bottom: 25px;
  padding-top: 64px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.about-perfs p {
  padding-bottom: 68px;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/*====================================================== Попап о добавлении товара в корзину ===========================================*/

.good_in_basket {
  width: 620px;
  height: 282px;
  box-shadow: inset 0 7px 0 0 var(--red-basic);
}

.good_in_basket p {
  font-size: 24px;
  font-weight: bold;
}

.good_in_basket div {
  background-color: var(--seashell);
}

.good_in_basket .button {
  width: 192px;
  height: 38px;
  padding: 10px 0;
  box-sizing: border-box;
  text-align: center;
  color: var(--white-basic);
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--red-basic);
}

.good_in_basket .button:last-child {
  color: var(--black-basic);
  background-color: var(--white-basic);
}