@font-face {
  font-family: "Cuprum";
  src: local("Cuprum"),
      url("../fonts/web/cuprum.woff2") format("woff2"),
      url("../fonts/web/cuprum.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum"),
      url("../fonts/web/cuprum.woff2") format("woff2"),
      url("../fonts/web/cuprum.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum"),
      url("../fonts/web/cuprum.woff2") format("woff2"),
      url("../fonts/web/cuprum.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
      url("../fonts/web/ptsans.woff2") format("woff2"),
      url("../fonts/web/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
      url("../fonts/web/ptsans.woff2") format("woff2"),
      url("../fonts/web/cuprum.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --basic-black: #000000;
  --basic-extra-dark: #293449;
  --basic-dark: #32425C;
  --basic-neutral: #F1F5F7;
  --basic-red: #EE3643;
  --
  --basic-white: #ffffff;
}

body {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
}